@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: #f7f7fc;
  font-family: "Mulish", sans-serif;
}
.button {
  padding: 0.5rem 1rem;
  border-radius: 0.7rem;
}
.card_shadow {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.border_bottom{
  border-bottom: 5px solid #547FF3;
}
.glass-effect {
  background: rgba(255, 255, 255, 0.1); /* Semi-transparent white background */
 

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
  backdrop-filter: blur(10px); /* Blurring the background behind */
  -webkit-backdrop-filter: blur(10px); /* For Safari support */
  padding: 20px; /* Padding inside the element */
  color: #fff; /* White text */
}
.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-in.show {
  opacity: 1;
}
