@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: #f7f7fc;
  font-family: "Mulish", sans-serif;
}
.button {
  padding: 0.5rem 1rem;
  border-radius: 0.7rem;
}
.card_shadow {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.border_bottom {
  border-bottom: 5px solid #547ff3;
}
.glass-effect {
  background: rgba(255, 255, 255, 0.1); /* Semi-transparent white background */

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
  backdrop-filter: blur(10px); /* Blurring the background behind */
  -webkit-backdrop-filter: blur(10px); /* For Safari support */
  padding: 20px; /* Padding inside the element */
  color: #fff; /* White text */
}
/* .fade-in {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.fade-in.show {
  opacity: 1;
} */
.fade-in {
  opacity: 0;
  transform: translateY(20px); /* Element starts 20px below */
  transition: opacity 1s ease-in-out, transform 2s ease-in-out; /* Opacity takes 1s, transform takes 2s */
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0); /* Moves to the original position */
}

#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
.menu__btn {
  position: fixed;

  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 1;
  right: 3rem;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #616161;
  transition-duration: 0.25s;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 60px 0;
  list-style: none;
  background-color: #eceff1;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.25s;
  z-index: 1;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}
.menu__item:hover {
  background-color: #cfd8dc;
}
.z_index {
  z-index: 999999999;
}

.my-element {
  box-shadow: 0 4px 10px rgba(34, 100, 16, 0.5);
}
